/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styles */
header {
  grid-area: header;
}
body {
  background-color: $color-bg;
  font-family: $font-body;
  color: $color-text;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5rem;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @media (min-width: $bp-tablet) {
    grid-gap: 7rem;
    font-size: 1rem;
  }
}
p {
  font-size: 1rem;
  line-height: 1.6rem;
  font-family: $font-body;
  font-weight: 400;
  color: $color-text;
}
main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  grid-gap: 6rem;
  @media (min-width: $bp-tablet) {
    grid-gap: 8rem;
  }
}

h1 {
  font-family: $font-h;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2rem;
  color: #2a3844;
  @media (min-width: $bp-tablet) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h2 {
  font-family: $font-h;
  font-weight: 800;
  font-size: 1.7rem;
  color: $color-h;
  @media (min-width: $bp-tablet) {
    font-size: 2rem;
  }
}

h3 {
  font-family: $font-h;
  font-weight: 700;
  font-size: 1.3rem;
  color: $color-h;
  @media (min-width: $bp-tablet) {
    font-size: 1.6rem;
  }
}
ul,
ol {
  font-family: $font-body;
  font-weight: 400;
  font-size: 1rem;
  list-style: none;
  color: #2a3844;
}
button {
  @include buttons(true);
}
input[type="submit"] {
  @include buttons(false);
}
input,
textarea {
  background-color: $color-bg;
  border-radius: 5px;
  padding: 1rem;
  font-family: $font-body;
  color: #2a3844;
  font-size: 1rem;
  border: none;
  margin-top: 0.5rem;
  &:focus {
    outline-width: 0;
  }
}
a {
  text-decoration: none;
}
footer {
  grid-area: footer;
  @include footer-shadow(45deg);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  h3 {
    color: #fff;
    margin-bottom: 1rem;
  }
}

/* Main containers styles */
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1320px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
