// Breakpoint variables
$bp-mobile: 786px;
$bp-tablet: 1024px;
$bp-bigscreen: 1200px;
$bp-midscreen: 870px;

// Color variables
$color-bg: #fefeff;
$color-text: #1c262d;
$color-h: #e95600;

// Font variables
$font-body: "Open Sans", sans-serif;
$font-h: "Nunito", sans-serif;

// Other variables
$radius: 10px;
